<!DOCTYPE html>
<html>
    <head>
        <title>Ex</title>
        
        <script>
            var ans = {{ans}}
        </script>
    </head>

    <body>
        <form name="ques" method="POST">
            1. Would you like to express yourself through speech ? <br>
            <input type="radio" name="r1" value="1">Yes
            <input type="radio" name="r1" value="0">No <br>

            2. Do you like playing with colours ? <br>
            <input type="radio" name="r4" value="1">Yes
            <input type="radio" name="r4" value="0">No <br>

            3. Do you like to solve puzzles ? <br>
            <input type="radio" name="r7" value="1">Yes
            <input type="radio" name="r7" value="0">No <br>

            4. Are you interested in acting or role - playing stuff ? <br>
            <input type="radio" name="r10" value="1">Yes
            <input type="radio" name="r10" value="0">No <br>

            5. Do you like to play around with something like a ball when you are in the middle of studying ? <br>
            <input type="radio" name="r13" value="1">Yes
            <input type="radio" name="r13" value="0">No <br>

            6. Do you like to read news ? <br>
            <input type="radio" name="r2" value="1">Yes
            <input type="radio" name="r2" value="0">No <br>

            7. Do you frequently draw something at the back of your notebook ? <br>
            <input type="radio" name="r5" value="1">Yes
            <input type="radio" name="r5" value="0">No <br>

            8. Are you interested in knowing how the website that you are using is created ? <br>
            <input type="radio" name="r8" value="1">Yes
            <input type="radio" name="r8" value="0">No <br>

            9. Do you like to make people laugh ? <br>
            <input type="radio" name="r11" value="1">Yes
            <input type="radio" name="r11" value="0">No <br>

            10. Do you like to visit the playground and play outdoor games ? <br>
            <input type="radio" name="r14" value="1">Yes
            <input type="radio" name="r14" value="0">No <br>

            11. Are you interested in leading a group of people ? <br>
            <input type="radio" name="r3" value="1">Yes
            <input type="radio" name="r3" value="0">No <br>

            12. Do you wonder how movie posters are made ? <br>
            <input type="radio" name="r6" value="1">Yes
            <input type="radio" name="r6" value="0">No <br>

            13. Do you spend a lot of time pondering over the solution to a question ? <br>
            <input type="radio" name="r9" value="1">Yes
            <input type="radio" name="r9" value="0">No <br>

            14. Do you try to enact movie scenes or practice dialogue delivery ? <br>
            <input type="radio" name="r12" value="1">Yes
            <input type="radio" name="r12" value="0">No <br>

            15. Are you interseted in athletic activities like running, cycling or swimming ? <br>
            <input type="radio" name="r15" value="1">Yes
            <input type="radio" name="r15" value="0">No <br>

            <button type="submit" value="submit">Submit</button>
            <button type="reset" value="Clear">Clear</button>

            <div>
                <h1>{{ans}}</h1>
            </div>
        </form>
    </body>
</html>